[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = iOS ? h5????
[access "refs/*"]
	owner = group user/secondLieutenantCoder
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/secondLieutenantCoder
	label-Verified = -1..+1 group user/secondLieutenantCoder
	push = group user/secondLieutenantCoder
	read = group user/secondLieutenantCoder
	rebase = group user/secondLieutenantCoder
	removeReviewer = group user/secondLieutenantCoder
	submit = group user/secondLieutenantCoder
[access "refs/heads/*"]
	create = group user/secondLieutenantCoder
	push = +force group user/secondLieutenantCoder
	pushMerge = group user/secondLieutenantCoder
	read = group user/secondLieutenantCoder
[access "refs/tags/*"]
	push = group user/secondLieutenantCoder
	push = +force group user/secondLieutenantCoder
